LOOPS
- for loop
- while loop

In [2]:
lst=[3,5,7,8,5,4,1,2,13,14,15,16,17,18]
for i in lst:
    print(i,end=' ')

3 5 7 8 5 4 1 2 13 14 15 16 17 18

In [3]:
fruits=['apple','guvava','mango','kiwi','orange']
for i in fruits:
    print(i,end=' ')

apple guvava mango kiwi orange

In [4]:
name='py thon'
for x in name:
    print(x)

p
y

t
h
o
n

In [5]:
for num in range(21):
    print(num,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [6]:
for num in range(1,6):
    print(num,end=' ')

1 2 3 4 5

In [7]:
for num in range (1,21,2):
    print(num,end=' ')

1 3 5 7 9 11 13 15 17 19

In [8]:
for name in range(5):
    print('shreya')

shreya
shreya
shreya
shreya
shreya

In [9]:
for num in range(2,20,2):
    print(num,end=' ')

2 4 6 8 10 12 14 16 18

In [10]:
a=0
while a<=5:
    print(a)
    a+=1

0
1
2
3
4
5

In [11]:
a=1
while a<=20:
    print(a)
    a+=2

1
3
5
7
9
11
13
15
17
19

In [20]:
fruits=['apple','guvava','mango','onion','kiwi','orange']
for num in fruits:
   if num == 'onion':
      break
   print(num)

apple
guvava
mango

In [13]:
n=11
for i in range(11):
    print(i,end =' ')

0 1 2 3 4 5 6 7 8 9 10

In [14]:
num=100
for num in range(0,100,2):
    print(num , end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [15]:
num=100
for num in range(0,100,2):
    print(num,end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [16]:
num=5
for num in range(11):
    print(5*i)

50
50
50
50
50
50
50
50
50
50
50

In [17]:
num=5
for num in range(11):
    print(5*num)

0
5
10
15
20
25
30
35
40
45
50

In [18]:
fact=5
f=1
for i in range(1,fact+1):
fact=5*i
print(fact,f)

IndentationError: expected an indented block after 'for' statement on line 3 (227471437.py, line 4)

In [21]:
fruits=['apple','mango','onion','cherry']
for i in fruits:
    if i=='onion':
        continue
    print(i)

apple
mango
cherry

In [25]:
name='shreya'
for i in name:
 if i == 'y':
    break
 print(i)

s
h
r
e

In [41]:
lst=[2,4,5,6]
sum=0
for i in lst:
    sum += i
print(sum)

17

In [42]:
for i,v in enumerate(fruits):
    print(f'{i} .{v}')

0 .apple
1 .mango
2 .onion
3 .cherry

In [3]:
num=10
for i in  range(11):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
num=5
i=1
while(i<=10):

    print(i*5)
i+=1