-CREATE
-METHODS
-UNION
-INTERSECTION
-DIFFERENCE
-SYMMETRIC DIFFERENCE
-ISSUBEST
-ISSUPERSET

In [1]:
x={2,4,6,8,10,12,14,16,18,20}
print(x)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [2]:
x={'hello'}
print(x)

{'hello'}

In [3]:
x=set('hello')
print(x)

{'l', 'h', 'e', 'o'}

In [6]:
lst=set([1,1,2,2,2,3,4,5,6,7,5,6,7,8,9,10])
print(lst)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
c = set(range(21))
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [12]:
#to add data to a set
data = set()
data.add(1)
data.add(2)
data.add(3)
data.add(4)
data.add(5)
print(data)

{1, 2, 3, 4, 5}